* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body {
    padding: 3%;
    max-width: 90%;
    max-height: fit-content;
}
a {
    text-decoration: none;
}
h2 {
    margin: 2%;
}

/*HEADER*/

header{
    background-color: #7d8f7a38;
}
nav {
    height: 60px;
}
.nav-container {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr 1fr 1fr;
    max-width: fit-content;
    max-height: 10%;
    gap: 5%;
    padding: 2%;
}
.nav-container img {
    max-width: fit-content;
    max-height: 10%;
    border-radius: 20%;
}
nav a {
    margin-top: 5px;
}

/*MAIN*/
main {
    background-color: #bffdab0c;
}
.main-container {
    max-width: 90%;
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: center;
}


/*FOOTER*/

footer {
    text-align: center;
    padding: 2%;
}
footer p {
    padding: 1%;
}

#links:hover {
    background-color: #2c412d44;
}

#links {
    max-height: fit-content;
}
button:hover { 
    background-color: #2c412d44;
}
button {
    padding: 5px;
}

/*SEARCH BUTTON PRODUCTOS*/

.input-group{
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.form-outline {
    margin-left: 40%;
}

#search-button {
    margin: 1%;
    align-items: center;
    max-width: fit-content;
}

h3 {
    margin-top: 2%;
}