.gradient-custom-3 {
/* fallback for old browsers */
background: #e1e2e1e3;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #e1e2e1e3, #e1e2e1e3);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right,#e1e2e1e3, #e1e2e1e3)
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #e1e2e1e3;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right,#e1e2e1e3, #e1e2e1e3);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right,#e1e2e1e3, #e1e2e1e3)
}